# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\IDE\Projects\Udemy\Java Programming Masterclass for Software Developers\java-programming-masterclass-for-software-developers\Switch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
